
<footer>


  <a href="https://countingthreads.com"><img id="ctLogo" src="img/countingthreads.png" class="image-fluid" alt="Counting Threads Logo."/>></a>



<img id="ffLogo" src="img/fflogo.png" class="image-fluid" alt="Counting Threads Logo."/>




</footer>







