{% extends '_templates/base.njk' %}

{% block page_title %}Index page title{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class='container'>
<h4>Good <span id='tiempo'></span> – I'm here to help determine your annual fashion footprint! Answer the following questions to see how your clothing affects the environment and economy. </h4>

  <div>
    <form>
      <p class='row'>1. How often do you buy new clothes?</p>
      <select name = "dropdown" class ='row' id="freq" onInput="" value="0">
        <option value = "">--Select--</option>
         <option value = "104">Twice a week.</option>
         <option value = "52">Once a week.</option>
         <option value = "24">Twice a month.</option> 
         <option value = "12">Once a month.</option>
         <option value = "6">Every couple months.</option>
         <option value = "2">Twice a year.</option>
         <option value = "1">Once a year.</option>
      </select>
    </form>
  </div>

  <div>
    <p>2. What brands or shops do you buy from? (Select all that apply)</p>
    <form id = "brands" action="/action_page.php">
      <input type="checkbox" id="vehicle1" name="vehicle1" value="Adidas">
      <label for="vehicle1">Adidas</label>
      <input type="checkbox" id="vehicle2" name="vehicle2" value="Calvin Klein">
      <label for="vehicle2">Calvin Klein</label>
      <input type="checkbox" id="vehicle3" name="vehicle3" value="H&M">
      <label for="vehicle3">H&M</label>
      <input type="checkbox" id="vehicle4" name="vehicle4" value="Levi's">
      <label for="vehicle4">Levi's</label>
      <input type="checkbox" id="vehicle5" name="vehicle5" value="Urban Outfitters">
      <label for="vehicle5">Urban Outfitters</label>
      <input type="checkbox" id="vehicle6" name="vehicle6" value="Fashion Nova">
      <label for="vehicle6">Fashion Nova</label>
      <input type="checkbox" id="vehicle7" name="vehicle7" value="Gildan">
      <label for="vehicle7">Gildan</label>
      <input type="checkbox" id="vehicle8" name="vehicle8" value="Forever 21">
      <label for="vehicle8">Forever 21</label>
      <input type="checkbox" id="vehicle9" name="vehicle9" value="Nike">
      <label for="vehicle9">Nike</label>
      <input type="checkbox" id="vehicle10" name="vehicle10" value="New Balance">
      <label for="vehicle10">New Balance</label>
      <input type="checkbox" id="vehicle11" name="vehicle11" value="Patagonia">
      <label for="vehicle11">Patagonia</label>
      <input type="checkbox" id="vehicle12" name="vehicle12" value="Shein">
      <label for="vehicle12">Shein</label>
      <input type="checkbox" id="vehicle13" name="vehicle13" value="Ralph Lauren">
      <label for="vehicle13">Ralph Lauren </label>
      <input type="checkbox" id="vehicle14" name="vehicle14" value="Zara">
      <label for="vehicle14">Zara</label>
      <input type="checkbox" id="vehicle15" name="vehicle15" value="Old Navy">
      <label for="vehicle15">Old Navy</label>
    </form>
  </div>

  <div class="slideContainer1">
    <p>3. What fraction of your clothes do you buy online rather than in-store?</p>
    <input type="range" min="0" max="100" value="0" id="onlineRange" class="row" onInput="nothing"> 
    <p class="row"><span id="online"></span>%</p>
  </div>
  <div id="slideContainer2">
    <p>4. What fraction of your old clothes do you donate or sell?"</p>
    <input type="range" min="0" max="100" value="0" id="donateSellRange" class="row" onInput="something"> 
    <p class="row"><span id="donateSell"></span>%</p>
  </div>

  <div>
    <form>
      <p class='row'>5. How many loads of clothes do you wash per week?</p>
      <select name = "dropdown" class ='row' id="wash">
        <option washValue = "select" selected>--Select--</option>
         <option washValue = "1">1</option>
         <option washValue = "2">2</option>
         <option washValue = "3">3</option> 
         <option washValue = "4">4</option>
         <option washValue = "5">5</option>
         <option washValue = "6">6</option>
      </select>
    </form>

    <form>
      <p class='row'>6. How many times do you run the tumbledryer per week?</p>
      <select name = "dropdown" class ='row' id="dry">
        <option dryValue = "select" selected>--Select--</option>
         <option dryValue = "1">1</option>
         <option dryValue = "2">2</option>
         <option dryValue = "3">3</option> 
         <option dryValue = "4">4</option>
         <option dryValue = "5">5</option>
         <option dryValue = "6">6</option>
      </select>
    </form>
  </div>

  <div>
    <p>7. If you buy from fast-fashion brands (e.g., Zara, Shein, H&M, Fashion Nova, etc.), what is your motivation? (Select all that apply)</p>
    <form action="/action_page.php">
      <input type="checkbox" id="vehicle16" name="vehicle16" value="Price">
      <label for="vehicle16">Price</label>
      <input type="checkbox" id="vehicle17" name="vehicle17" value="Speed/Availability">
      <label for="vehicle17">Speed/Availability</label>
      <input type="checkbox" id="vehicle18" name="vehicle18" value="Corporate Advertisements">
      <label for="vehicle18">Corporate Advertisements</label>
      <input type="checkbox" id="vehicle19" name="vehicle19" value="Social Media and Influencers">
      <label for="vehicle19">Social Media/Influencers</label>
      <input type="checkbox" id="vehicle20" name="vehicle5" value="Specific Events or Costumes">
      <label for="vehicle20">Specific Events/Costumes</label>
    </form>
  </div>

  <br>

<div id="ready">
  <p>Wow – You're truly a fashion icon!</p>
  <p>Are you ready for your results?</p>
</div>

<div id="compileResults">
  <p>Bet! I'm on it...</p>
  <p>Finding fashion industry facts...</p>
  <p>Plugging in your fashion habits...</p>
  <p>Crunching the numbers...</p>
</div>

<div id="results">
  <h3>Here's what I calculated:</h3>
  <p>Your yearly wardrobe costs an estimated $<span id="yearlyCost"></span>.</p>
  <p>More than <span id="workers"></span> different garment workers make the clothes you buy every year, but an estimated <span id="underpaidWorkers"></span> those workers are not paid a living wage.</p>
  <p>With all the money you spend every year, you could purchase approximately <span id="smallBiz"></span> articles of sustainable clothing instead – while simultaneously supporting smaller businesses!</p>
  <br>
  <h3>But that's just the economic side of it...</h3>
  <p>The fashion industry hurts animals, too. They are exploited for wool, leather, fur, silk and down.</p>
  <p>Although the data is not transparent, an estimated <span id="animalsHurt"></span> <span id="animalVerbage"></span> used or killed for your clothes annually.</p>
  <br>
  <h3>Fashion manufacturing also takes a toll on the environment...</h3>
  <p>Your annual clothing:</p>
  <ul>
    <li>emits <span id="carbon"></span> lbs of Co2.</li>
    <li>uses <span id="water"></span> gallons of water.</li>
    <li>occupies <span id="acres"></span> acres of land.</li>
    <li>takes <span id="electricity"></span> watts of electricity.</li>
    <li>leaks <span id="dyes"></span> pounds of water pollution through its dying process.</li>
    <li>requires <span id="pestidogs"></span> <span id="pestidogsVerbage"></span> of pesticides.</li>
  </ul>
  <br>
  <p>That's enough electricity to power the average American hospital for <span id="hospitalHours"></span> hours...</p>
  <p>All that Co2 is equivalent to <span id="roadTrips"></span> road trips from Austin to Dallas and back...</p>
  <p>You could convert all that water into <span id="showers"></span> showers...</p>
  
</div>
</div>
<script src="js/tooly.js"></script>



{% endblock %}