{% extends '_templates/baseFactSheet.njk' %}

{% block page_title %}Fact Sheet{% endblock %}

{% block page_description %}Fashion industry facts used to calculate your results.{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
     The background-left, aesthetic column.
    </div>
    <div class="col-8">
      <h2 class="fs-title">The <a href="./bot.html">Counting Threads Calculator</a> uses these facts to determine results:</h2>


      <h2 class="fs-title">Return to the calculator</h2>
      <p>Click <b><a id="linx" href="./bot.html"></span>here</a></b> to try the calculator again.</p>

      <h2 class="fs-title">Want to make a difference?</h2>
      <p>Visit <b><a id="linx" href="countingthreads.com/GetInvolved"></span> Counting Threads</a></b> for ways to reduce your footprint, resources, places to donate, petitions, volunteer opportunities, and sustainable clothing options.</p>
    </div>
  </div>
</div>

{% endblock %}