{% extends '_templates/baseFactSheet.njk' %}

{% block page_title %}Fact Sheet{% endblock %}

{% block page_description %}Fashion industry facts used to calculate results.{% endblock %}

{% block content %}

{% include "_includes/footer.njk" %}


<div class="container-fluid">
  <div class="row">
    <div id="shoulder" class="col-xs-0 col-sm-1 col-md-2 col-lg-4">
    </div>
    <div id="yk" class="col-xs-12 col-sm-11 col-md-10 col-lg-8">
      <h2 id="introToFacts" class="fs-title">The <a id="zelda" href="./bot.html">Counting Threads Calculator</a> uses these facts to estimate results:</h2>

      <ul>
        <li>There are a minimum of four workers involved in the creation of any given clothing article (Clean Clothes Campaign)</li>
        <li>93% of brands do not pay their workers a living wage (fashionchecker.org)</li>
        <li>On average, sustainable fabrics cost only 30% more than regular fabrics (ecocult.com)</li>
        <li>The fashion industry kills over 7 billion animals every year and uses another 1 billion for various purposes (Common Objective Co.)</li>
        <li>Up to 10% of global carbon emissions come from the fashion industry (UN Environment Programme)</li>
        <li>Online shopping is 60% less carbon involved than in-person shopping (ThredUp)</li>
        <li>The average washing machine uses 40 gallons of water per load, and the cotton in a basic t-shirt takes more than 700 gallons of water to grow (World Wildlife Fund)</li>
        <li>A regular acre of land can annually produce enough cotton for 536 garments (Quora)</li>
        <li>The fashion industry accounts for 10% of global pesticide use each year (Georgia Law Review)</li>
        <li>The fashion industry is responsible for 20% of global water pollution each year (The Conscious Challenge)</li>
      </ul>

      <h2 class="fs-title">Return to the calculator</h2>
      <p>Click <b><a id="linx" href="./bot.html"></span>here</a></b> to try the calculator again.</p>

      <h2 class="fs-title">Want to make a difference?</h2>
      <p>Visit <b><a id="linx" href="countingthreads.com/GetInvolved"></span> Counting Threads</a></b> for ways to reduce your footprint, resources, places to donate, petitions, volunteer opportunities, and sustainable clothing options.</p>
    </div>
  </div>
</div>

{% endblock %}