{% extends '_templates/baseCalc.njk' %}

{% block page_title %}Fashion Footprint Calculator{% endblock %}

{% block page_description %}A calculator that determines the global impact from your fashion habits.{% endblock %}

{% block content %}


<div id="capture" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <a href="countingthreads.com"><h2 id="heading">Counting Threads</h2></a>
                <p class="introFF">Fashion Footprint Calculator</p>
                <form id="msform">
                    <!-- progressbar -->
                    <div data-html2canvas-ignore="true">
                    <ul id="progressbar">
                        <li class="active" id="welcome"><strong>Welcome</strong></li>
                        <li id="questions"><strong>Questions</strong></li>
                        <li id="calculate"><strong>Calculate</strong></li>
                        <li id="results"><strong>Results</strong></li>
                    </ul>
                    </div>
                    <br> <!-- fieldsets -->
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-12">
                                    <p class="introMan1" id="demo"></p>
                                </div>
                            </div>
                        </div> <input type="button" id='next1' name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div id="preguntas" class="col-12">
                                    
                                    <h2 id="turnMeUp" class="fs-title"></h2>
                                    <div id='questionsAppear'>
                                    <p class='row'>1. How often do you buy new clothes?</p>
                                        <select name = "dropdown" class ='row' id="freq" onInput="" value="0">
                                            <option value = "8008">--Select--</option>
                                            <option value = "104">Twice a week.</option>
                                            <option value = "52">Once a week.</option>
                                            <option value = "24">Twice a month.</option> 
                                            <option value = "12">Once a month.</option>
                                            <option value = "6">Every couple months.</option>
                                            <option value = "2">Twice a year.</option>
                                            <option value = "1">Once a year.</option>
                                        </select>

                                    <p>2. What brands or shops do you buy from? (Select all that apply)</p>
                                    <div id="brands" class="checkbox">
                                      <label id="god" for="vehicle1"><span>Adidas</span><input type="checkbox" id="vehicle1" name="vehicle1" value="Adidas">
                                      </label>
                                      <label id="god" for="vehicle2">Calvin Klein<input type="checkbox" id="vehicle2" name="vehicle2" value="Calvin Klein">
                                      </label>
                                      <label id="god" for="vehicle3">H&M<input type="checkbox" id="vehicle3" name="vehicle3" value="H&M">
                                      </label>
                                      <label id="god" for="vehicle4">Levi's<input type="checkbox" id="vehicle4" name="vehicle4" value="Levi's">
                                      </label>
                                      <label id="god" for="vehicle5">Urban Outfitters<input type="checkbox" id="vehicle5" name="vehicle5" value="Urban Outfitters">
                                      </label>
                                      <label id="god" for="vehicle6">Fashion Nova<input type="checkbox" id="vehicle6" name="vehicle6" value="Fashion Nova">
                                      </label>
                                      <label id="god" for="vehicle7">Gildan<input type="checkbox" id="vehicle7" name="vehicle7" value="Gildan">
                                      </label>
                                      <label id="god" for="vehicle8">Forever 21<input type="checkbox" id="vehicle8" name="vehicle8" value="Forever 21">
                                      </label>
                                      <label id="god" for="vehicle9">Nike<input type="checkbox" id="vehicle9" name="vehicle9" value="Nike">
                                      </label>
                                      <label id="god" for="vehicle10">New Balance<input type="checkbox" id="vehicle10" name="vehicle10" value="New Balance">
                                      </label>
                                      <label id="god" for="vehicle11">Patagonia<input type="checkbox" id="vehicle11" name="vehicle11" value="Patagonia">
                                      </label>
                                      <label id="god" for="vehicle12">Shein<input type="checkbox" id="vehicle12" name="vehicle12" value="Shein">
                                      </label>
                                      <label id="god" for="vehicle13">Ralph Lauren<input type="checkbox" id="vehicle13" name="vehicle13" value="Ralph Lauren">
                                      </label>
                                      <label id="god" for="vehicle14">Zara<input type="checkbox" id="vehicle14" name="vehicle14" value="Zara">
                                      </label>
                                      <label id="god" for="vehicle15">Old Navy<input type="checkbox" id="vehicle15" name="vehicle15" value="Old Navy">
                                      </label>
                                    </div>

                                    <div id="Q3" class="slideContainer1">
                                        <p>3. What fraction of your clothes do you buy online rather than in-store?</p>
                                        <input type="range" min="0" max="100" value="0" id="onlineRange" class="row" onInput="nothing"> 
                                        <p class="row"><span id="online"></span>%</p>
                                      </div>
                                      <div id="Q4" class="slideContainer2">
                                        <p>4. What fraction of your old clothes do you donate or sell?"</p>
                                        <input type="range" min="0" max="100" value="0" id="donateSellRange" class="row" onInput="something"> 
                                        <p class="row"><span id="donateSell"></span>%</p>
                                      </div>

                                      <p class='row'>5. How many loads of clothes do you wash per week?</p>
                                        <select name = "dropdown" class ='row' id="wash">
                                            <option value = "8008" selected>--Select--</option>
                                            <option value = "1">1</option>
                                            <option value = "2">2</option>
                                            <option value = "3">3</option> 
                                            <option value = "4">4</option>
                                            <option value = "5">5</option>
                                            <option value = "6">6</option>
                                        </select>

                                    <p class='row'>6. How many times do you run the tumbledryer per week?</p>
                                        <select name = "dropdown" class ='row' id="dry">
                                            <option value = "8008" selected>--Select--</option>
                                            <option value = "1">1</option>
                                            <option value = "2">2</option>
                                            <option value = "3">3</option> 
                                            <option value = "4">4</option>
                                            <option value = "5">5</option>
                                            <option value = "6">6</option>
                                        </select>
                                        </div>
                                </div>
                            </div> 
                        </div> <input type="button" id="next2" name="next" class="next2 action-button" value="Next" /> <input type="button" id="prev2" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div id="haha" class="row">
                                <div id="crunchTime" class="col-12">
                                    <p class="introMan2" id="demo1"></p>
                                    <p class="introMan2" id="demo2"></p>
                                    <p class="introMan2" id="demo3"></p>
                                    <p class="introMan2" id="demo4"></p>
                                    <p class="introMan2" id="demo5"></p>
                                </div>
                            </div>
                        </div>  <input type="button" id="next3" name="next" class="next3 action-button" value="Next" /> <input type="button" id="prev3" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>        
                    <fieldset>
                        <div id="resultados" class="form-card">
                            <div class="row">
                                <div class="col-12">
                                    <div class="results">
                                        <h2 class="fs-title" id="treasure"></h2>
                                        <div id="showMeTheMoney">
                                        <img class="resultsPic1" class="image-fluid" src="img/money.PNG" alt="An illustrated stack of money."/>
                                        <!--<p class="hovertron">- Your yearly wardrobe costs an estimated <b>$<span id="yearlyCost"></span></b>.</p>-->
                                        <p>- More than <b><span id="workers"></span> different garment workers</b> make the clothes you buy every year, but an estimated <b><span id="underpaidWorkers"></span></b> those workers are not paid a living wage.</p>
                                        <p>- With all the money you spend on clothing every year, you could purchase approximately <b><span id="smallBiz"></span> <span id="articleVerbage"></span> of sustainable clothing</b> instead – while simultaneously supporting smaller businesses!</p>
                                        
                                        <h2 class="fs-title">But that's just the economic side of it...</h2>
                                        <img class="resultsPic2" class="image-fluid" src="img/cow.PNG" alt="An illustrated bovine."/>
                                        <p>The fashion industry hurts animals, too. They are exploited for wool, leather, fur, silk and down.</p>
                                        <p>Although the data is not transparent, an estimated <b><span id="animalsHurt"></span> <span id="animalVerbage"></span></b> used or killed for your clothes annually.</p>
                                        
                                        <h2 class="fs-title">Fashion manufacturing also takes a toll on the environment...</h2>
                                        <img class="resultsPic3" class="image-fluid" src="img/smoke.PNG" alt="An illustrated smokestack factory."/>
                                        <p>Your annual clothing:</p>
                                        <ul>
                                          <li>emits <b><span id="carbon"></span> lbs</b>  of Co2.</li>
                                          <li>uses <b><span id="water"></span> gallons</b> of water.</li>
                                          <li>occupies <b><span id="acres"></span> acres</b> of land.</li>
                                          <li>takes <b><span id="electricity"></span></b> watts of electricity.</li>
                                          <li>leaks <b><span id="dyes"></span> pounds</b> of water pollution through its dying process.</li>
                                          <li>requires <b><span id="pestidogs"></span> <span id="pestidogsVerbage"></span></b> of pesticides.</li>
                                        </ul>
                                    
                                        <p>That's enough electricity to power the average American hospital for <b><span id="hospitalHours"></span> hours...</b></p>
                                        <p>All that Co2 is equivalent to <b><span id="roadTrips"></span> <span id="roadTripsVerbage"></span></b> from Austin to Dallas and back...</p>
                                        <p>You could convert all that water into <b><span id="showers"></span> showers...</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <input type="button" id="share" name="share" class="share action-button" value="Share" /> <input type="button" id="prev4" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>


{% endblock %}


