<!doctype html>
<html lang="en">
  <!-- A Digital Innovations Capstone class project -->
  <head>
    <title>{% block page_title %}Default title{% endblock %}</title>
    <meta name="description" content="{% block page_description %}Default description{% endblock %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ relative_path }}css/calc.css">
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src="https://kit.fontawesome.com/eb296c83a4.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {% block content %}{% endblock %}
  

    {% include "_includes/footer.njk" %}


    <script src="{{ relative_path }}js/jquery.js"></script>
    <script src="{{ relative_path }}js/popper.js"></script>
    <script src="{{ relative_path }}js/bootstrap.js"></script>
    <script src="{{ relative_path }}js/scripts.js"></script>
    <script src="js/quizStyle.js"></script> 
    <script src="js/html2canvas.min.js"></script> 
    <script>

      $(".share").click(function(){
   

        window.scrollTo(0,0);
        html2canvas(document.querySelector("#capture")).then(canvas => {

        
        var image = canvas.toDataURL('image/png').replace('image/png', 'image/octet-stream');
        console.log(image);
        window.location.href=image;

       });

            
      

      /*    var url = "countingthreadscalculator.com";
          var text = "I just found out how my fashion habits hurt the world :~( Check out your impact here:";
          window.open('http://twitter.com/share?url='+encodeURIComponent(url)+'&text='+encodeURIComponent(text), '', 'left=0,top=0,width=550,height=450,personalbar=0,toolbar=0,scrollbars=0,resizable=0');
      */

 

      });

      
  </script>
  </body>
</html>