.button {
  padding:1rem 1.8rem;
  background:#000;
  -webkit-box-shadow:0 8px 32px 0 rgba(0,0,0,0.35);
  box-shadow:0 8px 32px 0 rgba(0,0,0,0.35);
  border-radius:10px;
  font-weight:500;
  color:#fff;
  font-family:'Gill Sans';
  font-size:1.3rem;
}

h1 {
  font-size: 10vw;
}

.bottom-left {
  position: absolute;
  bottom: 0px;
  left: 16px;
  color: green;
 }

 #logo1 {
  width: 7.2vw;
  height: 7.2vw;
 }

/* Container holding the image and the text */
 .container1 {
  position: fixed; 
  bottom: 0;
  margin-right: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border: 0px;
  font-size: 1vw;
 }

 #clothesRack {
  max-height: 100%;
  max-width: 100%;
  margin-right: 0px;
  padding-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border: 0px;
  padding-top: 0;
 }
 


 

