* {
  font-family: "Gill Sans";
}

#aesthetics{
background-color: #8fd9be;
}

#linx{
  color: grey;
  text-decoration: none;
}

#linx:hover{
  text-decoration: underline;
}

.fs-title {
  font-size: 25px;
  color: black;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left
}